.text-field {
    -fx-background-color: #bca5fa; /* COLOR DE FONDO */
    -fx-border-color: black; /* COLOR DEL BORDE */
    -fx-border-radius: 5; /* RADIO DE LAS ESQUINAS DEL BORDE */
    -fx-background-radius: 5; /* RADIO DE LAS ESQUINAS DEL FONDO */
    -fx-prompt-text-fill: gray; /* COLOR DEL PROMPTTEXT */
}




.table-view {
    -fx-background-color:  #cc87e0; /* COLOR DEL FONDO DE LA TABLA */
    -fx-border-color:  #000;
    -fx-border-width: 1px;
} /* Estilo para la TableView */


.table-view .column-header {
    -fx-background-color: #781ddd;
}/* Estilo para la cabecera de la columna */


.table-view .table-row-cell {
    -fx-background-color: #cc87e0;
} /* Estilo para las filas de la tabla */


.table-view .table-row-cell:hover {
    -fx-background-color: #781ddd;
} /* Color de fondo para las filas al pasar el mouse */


.table-view .table-row-cell:selected {
    -fx-background-color: #8656cb;
    -fx-text-fill: white;
} /* Estilo para las celdas seleccionadas */

.scroll-bar .thumb {
    -fx-background-color: #781ddd; /* COLOR DEL THUM */
    -fx-background-radius: 10;
}/* Estilo para el "thumb" de la barra de desplazamiento */
