.anchor-pane{
    -fx-background-image: url("Image/img.png");
    -fx-background-size: cover; /* AJUSTA LA IMAGEN AL TAMAÑO DEL AnchorPane */
}

/* ESTILOS LABEL ATRIBUTOS DEL COCHE*/
.text-field {
    -fx-background-color: #6a7de3;
    -fx-opacity: 0.8;
    -fx-background-radius: 20;
    -fx-border-color: #000;
    -fx-border-width: 1.5;
    -fx-border-radius: 10;
    -fx-font-family: "Britannic Bold";
    -fx-font-size: 15px;
    -fx-text-fill: #000;
}

/* ESTILOS PARA EL PANE DEL MENU*/
.paneMenu {
    -fx-background-color: #6a7de3;
    -fx-opacity: 0.85;
    -fx-border-color: #000;
    -fx-border-width: 0 0 2 0; /* SOLO APLICA EL BORDER AL DE ABAJO*/
}

/* ESTILOS PARA LOS BOTONES DEL MENU*/
.button {
    -fx-background-color: #4975ed;
    -fx-border-color: #000;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-font-family: "Britannic Bold";
    -fx-font-size: 15px;
    -fx-text-fill: #000;
}

/* ESTILO PARA EL BOTON SALIR*/
#salirApp {
    -fx-background-color: #9f173a;
    -fx-border-color: #000;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-font-family: "Britannic Bold";
    -fx-font-size: 15px;
    -fx-text-fill: #fff;
}

/* ESTILO PARA EL BOTON DE VER MULTAS*/
#verMultasBtt {
    -fx-background-color: #8963ec;
    -fx-font-size: 25px;
}


/* ESTILO PARA LAS LETRAS */
.estiloLabel {
    -fx-font-family: "Britannic Bold";
    -fx-font-size: 25px;
    -fx-text-fill: #9f94df;
}

/* ESTILO PARA EL TITULO */
#labelTitulo{
    -fx-font-family: "Gill Sans Nova Cond Ultra Bold";
    -fx-font-size: 25px;
    -fx-text-fill: #171664;
}

/* ESTILO PARA EL LABEL DE COCHES V5 */
#cochesV5 {
    -fx-font-family: "Britannic Bold";
    -fx-font-size: 15px;
    -fx-text-fill: #9f94df;
}


/************************** COMBOBOX *********************/
.combo-box {
    -fx-background-color: #4975ed;
    -fx-border-color: #000;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-font-family: "Britannic Bold";
    -fx-font-size: 15px;
    -fx-text-fill: #000;
} /* SE DEFINE EL COLOR Y TIPO DE LETRA DEL COMBOBOX */

.combo-box .list-cell {
    -fx-text-fill: #000;
} /* DEFINE EL COLOR DEL TEXTO DE LAS FILAS DEL COMBOBOX */

.combo-box-popup .list-view .list-cell{
    -fx-background-color: #6a7de3;
} /* DEFINE EL COLOR DE FONDO DEL POPUP DEL COMBOBOX */

.combo-box-popup .list-view{
    -fx-background-color:  #000;
} /* DEFINE EL COLOR DEL MARCO DEL POPUP */

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover{
    -fx-background-color: #0454ec;
} /* EFECTO PARA RESALTAR EL FONDO CUANDO UNA OPCION ESTE SELECCIONADA */

.combo-box-popup .list-view .list-cell:filled:hover{
    -fx-background-color: #4975ed;
} /* EFECTO PARA CAMBIAR EL COLOR DE FONDO CUANDO EL MOUSE PASA POR ENCIMA DE UNA OPCION DEL COMBOBOX */



/******************** TABLA ***********************************/
.table-view {
    -fx-background-color: #6a7de3; /* COLOR DEL FONDO DE LA TABLA */
    -fx-border-color:  #000;
    -fx-border-width: 1px;
    -fx-opacity: 0.95;
} /* Estilo para la TableView */


.table-view .column-header {
    -fx-background-color: #4975ed;
}/* Estilo para la cabecera de la columna */


.table-view .table-row-cell {
    -fx-background-color: #6a7de3;
} /* Estilo para las filas de la tabla */


.table-view .table-row-cell:hover {
    -fx-background-color: #6a7de3;
} /* Color de fondo para las filas al pasar el mouse */


.table-view .table-row-cell:selected {
    -fx-background-color: #4975ed;
    -fx-text-fill: white;
} /* Estilo para las celdas seleccionadas */

.scroll-bar .thumb {
    -fx-background-color: #6a7de3; /* COLOR DEL THUM */
    -fx-background-radius: 10;
}/* Estilo para el "thumb" de la barra de desplazamiento */





/************************************ ESTILO MULTAS FXML ****************************/
#multasPane{
    -fx-background-image: url("Image/multasBackground.png");
    -fx-background-size: cover;
}

/* ESTILOS PARA EL PANE DEL MENU*/
#paneMenu {
    -fx-background-color: #3d4745;
    -fx-opacity: 0.85;
    -fx-border-color: #000;
    -fx-border-width: 0 0 2 0; /* SOLO APLICA EL BORDER AL DE ABAJO*/
}

/* BOTON DEL MENU */
.multaButton {
-fx-background-color: #31454a;
    -fx-border-color: #000;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-font-family: "Britannic Bold";
    -fx-font-size: 15px;
    -fx-text-fill: #fafad8;
}

/* ESTILO PARA EL BOTON SALIR*/
#salirApp {
    -fx-background-color: #9f173a;
    -fx-border-color: #000;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-font-family: "Britannic Bold";
    -fx-font-size: 15px;
    -fx-text-fill: #fff;
}

/* LABELS PARA LOS ATRIBUTOS DE LAS MULTAS*/
.estiloLabel2 {
    -fx-font-family: "Britannic Bold";
    -fx-font-size: 25px;
    -fx-text-fill: #f6e8a8;
}

/* TEXTFIELD DE MULTAS */
.multaTF {
    -fx-background-color: #7f8a70;
    -fx-opacity: 0.8;
    -fx-background-radius: 20;
    -fx-border-color: #000;
    -fx-border-width: 1.5;
    -fx-border-radius: 10;
    -fx-font-family: "Britannic Bold";
    -fx-font-size: 15px;
    -fx-text-fill: #000;
}


/* DATEPICKER */
.date-picker {
    -fx-background-color: #7f8a70;
    -fx-background-radius: 15;
    -fx-border-color: #000;
    -fx-border-radius: 10;
    -fx-border-width: 1.5;
    -fx-padding: 4; /* ESPACIADO INTERNO */
    -fx-font-size: 14px;
}

/* TEXTFIELD DEL DATEPICKER */
.date-picker .text-field {
    -fx-background-color: #f6e8a8;
    -fx-text-fill: #31454;
}

/* COLOR DEL ICONO DEL CALENDARIO */
.date-picker .arrow {
    -fx-background-color: #31454;
}


/***** ESTILOS TABLA MULTAS ****/
#tabla {
     -fx-background-color: #7f8a70; /* COLOR DEL FONDO DE LA TABLA */
     -fx-border-color:  #000;
     -fx-border-width: 1px;
     -fx-opacity: 0.95;
 } /* Estilo para la TableView */


#tabla .column-header {
     -fx-background-color: #f6e8a8;
 }/* Estilo para la cabecera de la columna */


#tabla .table-row-cell {
     -fx-background-color: #7f8a70;
     -fx-text-fill: #000;
 } /* Estilo para las filas de la tabla */


#tabla .table-row-cell:hover {
    -fx-background-color: #f6e8a8;
    -fx-text-fill: black; /* CAMBIA EL COLOR DEL TEXTO AL PASAR EL RATON */
}

#tabla .table-row-cell:selected {
    -fx-background-color: #31454a;
    -fx-text-fill: black;
} /* Estipo para cuando se seleccione una multa*/


.scroll-bar .thumb {
 -fx-background-color: #7f8a70; /* COLOR DEL THUM */
 -fx-background-radius: 10;
}/* Estilo para el "thumb" de la barra de desplazamiento */